#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: #2d353c;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.titulo {
  font-weight: 900;
  color: #333;
  font-size: 2rem;
}
label {
  display: flex;
  justify-content: flex-start;
}
.btn_add {
  border: 1px solid #6355f9 !important;
  background-color: #6355f9 !important;
  width: 100%;
}
h1 {
  color: #6355f9;
  font-weight: 800;
}
h2 {
  color: #333;
  font-weight: 800;
}
.border-right {
  border-right: 1px solid #6355f9;
}

.section__masonry {
  background-color: #f4f3ff;
  height: 500px;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.section__masonry-wrapper {
  width: 576;
  columns: 2;
}

.section__masonry-wrapper__item {
  width: 100%;
}

.section__masonry-wrapper__item-img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .section__masonry-wrapper {
    columns: 3;
    width: 970px;
  }
}

@media (min-width: 992px) {
  .section__masonry-wrapper {
    columns: 4;
  }
}

img {
  width: 250px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.content_imgs {
  height: 500px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 300px 1fr 2fr;
}
